body {
    display: flex;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh; /* Make the body fill the screen height */
}

.column {
    padding: 20px;
    height: 100%; /* Make columns fill the available height */
}

.news-column {
    flex: 75%; /* Allocate 75% of the width as default */
    border-right: 2px solid #ccc;
}

.visualization-column {
    flex: 25%; /* Allocate 25% of the width as default */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    text-align: left !important;
}

h1 {
    font-size: 24px;
    margin-top: 0; /* Remove the top margin to align it at the top */
    align-self: center; /* or flex-start to align at start of container */
}

h2 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: blue;
}

p {
    font-size: 16px;
}

